@font-face {
font-family: "lineweb";
src: url("fonts/LineWeb-20.otf") format("opentype");
}

@font-face {
font-family: "freeserif";
src: url("fonts/FreeSerif.otf") format("opentype");
}

@font-face {
font-family: "freeserif";
font-weight: bold;
src: url("fonts/FreeSerifBold.otf") format("opentype");
}

body{
  background: rgb(245,245,245);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#seperator{
  height: 15px;
}

/* Banner */
#banner{
  width: 100%;
  height: 450px;
}

.landing_header_image{
  position: absolute;
  background-image: url("images/backgrounds/header.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%;
}

.head-content-box{
  z-index:100;
  width:100%;
  position:absolute;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20;
}

#banner h1{
  color: white;
  margin: 0;
  font-weight: bold;
  padding-right: 10%;
  padding-left: 10%;
}

#banner h3{
  color: white;
  font-weight: bold;
  font-size: 15px;
}

/* Trial */
#trial{
  height: 300px;
  text-align: center;
  margin-top: 50px;
}

#trial h2{
  font-weight: bold;
}
#trial h3{
  font-size: 20px;
}

.dowload_button {
  border-radius: 50px;
  padding: 5px 5px;
  width: 150px;
  font-weight: bold;
  color: white;
  background-color: rgb(112, 191, 65);
  margin: 0 auto;
}

/* customer */
#customer{
  background-color: rgb(250, 247, 238);
  text-align: center;
  padding-top: 50px;
}
#customer h1{
  font-size: 26px;
  font-weight: bold;
}
#customer h3{
  text-align: left;
  font-size: 20px;
  margin-top: 15px;
}

/* promise */
#promise{
  text-align: center;
  padding-top: 50px;
}

#promise h1{
  font-size: 26px;
  font-weight: bold;
  color: rgb(243, 144, 25);
}

#promise h3{
  text-align: left;
  font-size: 20px;
  margin-top: 15px;
}

#promise img{
  height: 35px;
  margin-top: 10px;
}

/* pricing */
#pricing{
  height: 550px;
  text-align: center;
  padding-top: 30px;
  background-color: rgb(250, 247, 238);
}

#pricing h2{
  font-weight: bold;
  padding-bottom: 30px;
}

.price-cloud{
  width: 150px;
  padding: 5px, 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(81, 167, 249);
  border-radius: 50px 0px 0 50px;
  -moz-border-radius: 50px 0px 0 50px;
  -webkit-border-radius: 50px 0px 0 50px;
  float: left;
}
.price-cloud.active{
  background-color: rgb(60, 119, 174);
}

.price-server{
  width: 150;
  padding: 5px, 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(81, 167, 249);
  border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  float: right;
}
.price-server.active{
  background-color: rgb(60, 119, 174);
}

#price-box{
  height: 340px;
  width: 302px;
  border: solid gray;
  border-radius: 20px;
  margin: 0 auto;
  border-width: 2px;
  padding-top: 30px;
}

#price-box-under{
  text-align: left;
  width: 60%;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 30px;
}

#price-box h2, h3, h4, h5{
  padding: 0;
  margin: 0;
}

#price-box input{
  font-size: 20;
  width: 100%;
}

#pricing select{
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  margin: 10px;
  margin-bottom: 20px;
}

.infolink
{
    content: '?';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 2.8ex;
    height: 2.8ex;
    /*font-size: 2.5ex;*/
    /*line-height: 1.8ex;*/
    border-radius: 50%;
    margin-right: 4px;
    padding: 1px;
    background: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

#one-time-info-box{
  height: 110px;
  width: 250px;
  background-color: rgb(247, 247, 144);
  position: absolute;
  margin-left: 135px;
  margin-top: -20px;
  border-style: solid;
  border-width: 1px;
  padding: 4px;
}

/* Video box */
#videobox{
  color: black;
  height: 640px;
  text-align: center;
  padding-top: 30px;
}
#videobox h2{
  font-weight: bold;
  margin-bottom: 2%;
}
#videobox h3{
  margin-top: 2%;
}

/* Roadmap box */
#roadmapbox{
  color: black;
  background-color: rgb(250, 247, 238);
  height: 640px;
  text-align: center;
  padding-top: 30px;
}
#roadmapbox h2{
  font-weight: bold;
  margin-bottom: 2%;
}
#roadmapbox h3{
  margin-top: 2%;
}
#roadmapbox img{
  margin-top: 2%;
}

/* Anfrage box */
.requestbox{
  color: black;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 8%;
}
.requestbox h2{
  font-weight: bold;
  margin-bottom: 5%;
}
.requestbox h3{
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-top: 5;
}
.requestbox button{
  border: 1px;
  border-style: solid;
  outline:none;
  border-radius: 50px;
  padding: 5px 5px;
  width: 120px;
  font-weight: bold;
  color: white;
  background-color: rgb(112, 191, 65);
  margin: 0 auto;
}


/* footer */

#footer{
  background-color: rgb(59,59,59);
  color: white;
  padding: 20;
}

#footer p{
  padding-left: 10px;
}

#footer h2{
  font-size: 25px;
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

#footer h3{
  font-size: 20px;
  padding-left: 10px;
  margin: 0;
}

#footer h5{
  padding-bottom: 5px;
}

#footer li{
  padding: 0;
}

.left-border{
  border-left: 2px solid #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left-border a{
  padding-left: 10px;
}

#footer a{
  color: white;
  font-size: 14px;
}

#footer a:hover{
  color: white;
  text-decoration: none;
}


/* download-page */
/* banner */
#download-banner{
  background-image: url("images/backgrounds/download.jpg");
  width: 100%;
  height: 500px;
  padding-top: 20px;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

#download-banner h1{
  color: white;
  margin: 0;
  font-weight: bold;
  padding-right: 10%;
  padding-left: 10%;
}

#download-banner h2{
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}

#download-banner-img{
  margin-top: 50px;
  margin-bottom: 10px;
  width: 150;
}

/* requestbox */
.download-requestbox{
  color: black;
  text-align: center;
  background-color: rgb(250, 247, 238);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 8%;
}
.download-requestbox h2{
  margin-bottom: 5%;
}
.download-requestbox h3{
  font-size: 20px;
  margin-top: 5;
  margin-bottom: 25;
}
.download-requestbox form{
  padding-left: 30%;
  padding-right: 30%;
}
.download-requestbox button{
  border: 1px;
  border-style: solid;
  outline:none;
  border-radius: 50px;
  padding: 5px 5px;
  width: 120px;
  font-weight: bold;
  color: white;
  background-color: rgb(112, 191, 65);
  margin: 0 auto;
}

/* Download trial versions*/
#download-trial{
  text-align: center;
  margin-top: 50px;
}
#download-trial img{
  height: 80px;
}
#download-trial h2{
  margin-bottom: 45px;
}

#download-trial h3{
  font-weight: bold;
  font-size: 18;
}

#download-trial h5:link{
  color: black;
}

/* For text alignmenet on different sizes */
.text-xs-left { text-align: left; padding-right: 20%;}
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 750px) {
    .text-sm-left { text-align: left;}
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; padding-right: 20%;}
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 800px) {
    .text-md-left { text-align: left; padding-right: 20%;}
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}
